{% extends 'layouts/mainlayout.twig' %}
{% block h1 %}
    <h1>Добро пожаловать в магазин игрушек</h1>

{% endblock %}

{% block content %}

    <p>В нашем магазине представлены детские игрушки самых известных производителей: шары и капсулы LOL Surprise (ЛОЛ
        Сюрпрайз) с куколками и сюрпризами, более 15 серий конструкторов LEGO (ЛЕГО), игрушки и игровые наборы от
        компании Hasbro (Хасбро) – это Transformers (Трансформеры), бластеры Nerf (Нерф), интерактивные игрушки Furreal
        Friends (Фурриал Френдс), коллекционные фигурки My Little Pony (Май Литл Пони) и Littlest Pet shop (Литлс Пет
        шоп), различные версии знаменитой экономической стратегии Monopoly (Монополия) и другие настольные игры. Мы рады
        представить коллекции игрушек Fortnite (Фортнайт), созданных по мотивам всемирно известной компьютерной игры,
        веселые игрушки SpongeBob (Спанч Боб)</p>

{% endblock %}